{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-success text-white">
                    <h2>비밀번호 변경 완료</h2>
                </div>
                <div class="card-body p-4 text-center">
                    <p>새 비밀번호로 로그인하실 수 있습니다.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-2">로그인 하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
